@page "/chat/{LobbyCode}"

<h3>Room: @LobbyCode</h3>

<p>
    Data channel state:
    <strong>@DataChannelState</strong>
</p>

@if (DataChannelState != "open")
{
    <p>Waiting for peer connection…</p>

    <h5>Log</h5>
    <ul>
        @foreach (string log in LogMessages)
        {
            <li>@log</li>
        }
    </ul>
}
else
{
    <h4>Send message</h4>

    <input
        @bind="Message"
        @bind:event="oninput"
        @onkeydown="SendOnKeyDown"
        placeholder="Type message…"
        style="width:70%" />

    <button @onclick="OnSend">Send</button>

    <h5>Messages</h5>
    <ul>
        @foreach (string msg in Messages)
        {
            <li>@msg</li>
        }
    </ul>
}